.game-container {
    display: flex;
    flex-direction: column;
    height: 60vh;
    border: solid black 5px;
}

.board {
    background-color: chocolate;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board-row {
    clear: both;
    display: table;
}

.square {
    background: rgb(255, 223, 134);
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 50px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 50px;
}
  
.square:focus {
    outline: none;
}